# Libraries

In [1]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Repeatability

##  Data Files

In [3]:
# Sharpness measurement i
# SM1 = pd.read_csv("Sharpness48M1.csv")
# SM2 = pd.read_csv("Sharpness48M2.csv")
# SM3 = pd.read_csv("Sharpness48M3.csv")
# SM4 = pd.read_csv("Sharpness48M4.csv")
# SM5 = pd.read_csv("Sharpness48M5.csv")

# SM1 = pd.read_csv("Sharpness22M1.txt")
# SM2 = pd.read_csv("Sharpness22M2.txt")
# SM3 = pd.read_csv("Sharpness22M3.txt")
# SM4 = pd.read_csv("Sharpness22M4.txt")
# SM5 = pd.read_csv("Sharpness22M5.txt")


SM1 = pd.read_csv("Sharpness150M1.txt")
SM2 = pd.read_csv("Sharpness150M2.txt")
SM3 = pd.read_csv("Sharpness150M3.txt")
SM4 = pd.read_csv("Sharpness150M4.txt")
SM5 = pd.read_csv("Sharpness150M5.txt")

In [4]:
SM1.columns = ["Op1", "Op2"]
SM2.columns = ["Op1", "Op2"]
SM3.columns = ["Op1", "Op2"]
SM4.columns = ["Op1", "Op2"]
SM5.columns = ["Op1", "Op2"]

## Calculating repeatability

### M1

In [5]:
SM1.loc[SM1["Op1"] <2.5,"Op1"] = 0 
SM1.loc[SM1["Op2"] <8.5,"Op2"] = 0 
SM1.loc[SM1["Op1"] >=2.5,"Op1"] = 1 
SM1.loc[SM1["Op2"] >=8.5,"Op2"] = 1

In [6]:
SM1["XOR"] = (SM1["Op1"]+SM1["Op2"])%2

In [7]:
SM1.shape[0]

14999

In [8]:
SM1.sum()["XOR"]

2.0

In [9]:
rep1 = 1- (SM1.sum()["XOR"])/(SM1.shape[0])
list1 = list(SM1["XOR"])
var1 = (np.std(list1))/np.sqrt(len(list1))
print(rep1,var1)

0.9998666577771852 9.428090352955522e-05

In [10]:
1-rep1

0.0001333422228148029

In [11]:
var1

9.428090352955522e-05

### M2

In [12]:
SM2.loc[SM2["Op1"] <2.5,"Op1"] = 0 
SM2.loc[SM2["Op2"] <8.5,"Op2"] = 0 
SM2.loc[SM2["Op1"] >=2.5,"Op1"] = 1 
SM2.loc[SM2["Op2"] >=8.5,"Op2"] = 1 
SM2["XOR"] = (SM2["Op1"]+SM2["Op2"])%2
Tot2 = SM2.shape[0]
1-(SM2.sum()["XOR"]/Tot2)

0.9952663510900727

In [13]:
(SM2.sum()["XOR"]/Tot2)

0.004733648909927329

In [14]:
rep2 = 1- (SM2.sum()["XOR"])/(SM2.shape[0])
list2 = list(SM2["XOR"])
var2 = (np.std(list2))/np.sqrt(len(list2))
print(rep2,var2)

0.9952663510900727 0.0005604495565543977

### M3

In [15]:
SM3.loc[SM3["Op1"] <2.5,"Op1"] = 0 
SM3.loc[SM3["Op2"] <8.5,"Op2"] = 0 
SM3.loc[SM3["Op1"] >=2.5,"Op1"] = 1 
SM3.loc[SM3["Op2"] >=8.5,"Op2"] = 1 
SM3["XOR"] = (SM3["Op1"]+SM3["Op2"])%2
Tot3 = SM3.shape[0]
1-(SM3.sum()["XOR"]/Tot3)

0.9959997333155544

In [16]:
(SM3.sum()["XOR"]/Tot3)

0.00400026668444563

In [17]:
rep3 = 1- (SM3.sum()["XOR"])/(SM3.shape[0])
list3 = list(SM3["XOR"])
var3 = (np.std(list3))/np.sqrt(len(list3))
print(rep3,var3)

0.9959997333155544 0.0005153982399559066

### M4

In [18]:
SM4.loc[SM4["Op1"] <2.5,"Op1"] = 0 
SM4.loc[SM4["Op2"] <8.5,"Op2"] = 0 
SM4.loc[SM4["Op1"] >=2.5,"Op1"] = 1 
SM4.loc[SM4["Op2"] >=8.5,"Op2"] = 1 
SM4["XOR"] = (SM4["Op1"]+SM4["Op2"])%2
Tot4 = SM4.shape[0]
1-(SM4.sum()["XOR"]/Tot4)

0.9923328221881459

In [19]:
(SM4.sum()["XOR"]/Tot4)

0.007667177811854124

In [20]:
rep4 = 1- (SM4.sum()["XOR"])/(SM4.shape[0])
list4 = list(SM4["XOR"])
var4 = (np.std(list4))/np.sqrt(len(list4))
print(rep4,var4)

0.9923328221881459 0.0007122218500916356

### M5

In [21]:
SM5.loc[SM5["Op1"] <2.5,"Op1"] = 0 
SM5.loc[SM5["Op2"] <8.5,"Op2"] = 0 
SM5.loc[SM5["Op1"] >=2.5,"Op1"] = 1 
SM5.loc[SM5["Op2"] >=8.5,"Op2"] = 1 
SM5["XOR"] = (SM5["Op1"]+SM5["Op2"])%2
Tot5 = SM5.shape[0]
1-(SM5.sum()["XOR"]/Tot5)

0.9921328088539236

In [22]:
(SM5.sum()["XOR"]/Tot5)

0.007867191146076405

In [23]:
rep5 = 1- (SM5.sum()["XOR"])/(SM5.shape[0])
list5 = list(SM5["XOR"])
var5 = (np.std(list5))/np.sqrt(len(list5))
print(rep5,var5)

0.9921328088539236 0.0007213791808043811

In [24]:
replist= [rep1,rep2,rep3,rep4,rep5]
varlist = [var1,var2,var3,var4,var5]

In [25]:
replist

[0.9998666577771852,
 0.9952663510900727,
 0.9959997333155544,
 0.9923328221881459,
 0.9921328088539236]

In [26]:
varlist

[9.428090352955522e-05,
 0.0005604495565543977,
 0.0005153982399559066,
 0.0007122218500916356,
 0.0007213791808043811]

In [27]:
SM1.shape

(14999, 3)

In [28]:
SM2.shape

(14999, 3)

In [29]:
SM3.shape

(14999, 3)

In [30]:
SM4.shape

(14999, 3)

In [31]:
SM5.shape

(14999, 3)

# Overall repeatability

In [51]:
SM11 = pd.read_csv("Sharpness48M1.csv")
SM11.columns = ["Op1", "Op2"]

SM21 = pd.read_csv("Sharpness48M2.csv")
SM21.columns = ["Op1", "Op2"]

SM31 = pd.read_csv("Sharpness48M3.csv")
SM31.columns = ["Op1", "Op2"]

SM41 = pd.read_csv("Sharpness48M4.csv")
SM41.columns = ["Op1", "Op2"]

SM51 = pd.read_csv("Sharpness48M5.csv")
SM51.columns = ["Op1", "Op2"]


SM12 = pd.read_csv("Sharpness22M1.txt")
SM12.columns = ["Op1", "Op2"]

SM22 = pd.read_csv("Sharpness22M2.txt")
SM22.columns = ["Op1", "Op2"]

SM32 = pd.read_csv("Sharpness22M3.txt")
SM32.columns = ["Op1", "Op2"]

SM42 = pd.read_csv("Sharpness22M4.txt")
SM42.columns = ["Op1", "Op2"]

SM52 = pd.read_csv("Sharpness22M5.txt")
SM52.columns = ["Op1", "Op2"]


SM13 = pd.read_csv("Sharpness150M1.txt")
SM13.columns = ["Op1", "Op2"]

SM23 = pd.read_csv("Sharpness150M2.txt")
SM23.columns = ["Op1", "Op2"]

SM33 = pd.read_csv("Sharpness150M3.txt")
SM33.columns = ["Op1", "Op2"]

SM43 = pd.read_csv("Sharpness150M4.txt")
SM43.columns = ["Op1", "Op2"]

SM53 = pd.read_csv("Sharpness150M5.txt")
SM53.columns = ["Op1", "Op2"]

In [52]:
frames = [SM11,SM21,SM31,SM41,SM51,SM11,SM22,SM32,SM42,SM52,SM13,SM23,SM33,SM43,SM53]
data = pd.concat(frames)

In [53]:
data.head()

    Op1   Op2
0   0.0   1.0
1   0.0   1.0
2  15.0  51.0
3  20.0  44.0
4  17.0  43.0

In [54]:
data.loc[data["Op1"] <2.5,"Op1"] = 0 
data.loc[data["Op2"] <8.5,"Op2"] = 0 
data.loc[data["Op1"] >=2.5,"Op1"] = 1 
data.loc[data["Op2"] >=8.5,"Op2"] = 1

In [55]:
data.head()

   Op1  Op2
0  0.0  0.0
1  0.0  0.0
2  1.0  1.0
3  1.0  1.0
4  1.0  1.0

In [56]:
data["XOR"] = (data["Op1"]+data["Op2"])%2

In [60]:
rep = 1- (data.sum()["XOR"])/(data.shape[0])
list1 = list(data["XOR"])
std = (np.std(list1))/np.sqrt(len(list1))
print(rep,std)

0.9942173922705958 0.00015985482970844007

In [61]:
rep

0.9942173922705958

In [62]:
std

0.00015985482970844007