# Libraries

In [292]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [293]:
# Normal order file
data1 = pd.read_csv("Normal48.csv")
data2 = pd.read_csv("Normal150.txt")
data3 = pd.read_csv("Normal22.txt")
data4 = pd.read_csv("Normal48P01.txt")
data5 = pd.read_csv("Normal48P02.txt")

In [294]:
# Reverse order file
data6 = pd.read_csv("Reverse48.csv")
data7 = pd.read_csv("Reverse150.txt")
data8 = pd.read_csv("Reverse22.txt")
data9 = pd.read_csv("Reverse48P01.txt")
data10 = pd.read_csv("Reverse48P02.txt")

In [295]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]
data3.columns = ["meas", "Op1", "Op2"]
data4.columns = ["meas", "Op1", "Op2"]
data5.columns = ["meas", "Op1", "Op2"]

data6.columns = ["meas", "Op1", "Op2"]
data7.columns = ["meas", "Op1", "Op2"]
data8.columns = ["meas", "Op1", "Op2"]
data9.columns = ["meas", "Op1", "Op2"]
data10.columns = ["meas", "Op1", "Op2"]

In [296]:
frames = [data1, data2, data3,data4,data5,data6, data7, data8,data9,data10]
data = pd.concat(frames)

## Relabelling

In [297]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data.loc[data["Op1"] <2.5,"Op1"] = 0 
data.loc[data["Op1"] >=2.5,"Op1"] =1

In [298]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data.loc[data["Op2"] <8.5,"Op2"] = 0 
data.loc[data["Op2"] >=8.5,"Op2"] =1

In [299]:
data.head()

   meas  Op1  Op2
0   1.0  1.0  0.0
1   1.0  1.0  0.0
2   1.0  0.0  1.0
3   3.0  0.0  1.0
4   1.0  1.0  0.0

In [300]:
data

       meas  Op1  Op2
0       1.0  1.0  0.0
1       1.0  1.0  0.0
2       1.0  0.0  1.0
3       3.0  0.0  1.0
4       1.0  1.0  0.0
...     ...  ...  ...
52895   7.0  0.0  1.0
52896   9.0  0.0  1.0
52897   9.0  1.0  0.0
52898   7.0  1.0  0.0
52899  10.0  1.0  0.0

[565173 rows x 3 columns]

# Compatibility

In [ ]:
Or1 = data.loc[data["meas"]==1]
Or2 = data.loc[data["meas"]==2]
Or3 = data.loc[data["meas"]==3]
Or4 = data.loc[data["meas"]==4]
Or5 = data.loc[data["meas"]==5]