# Libraries

In [399]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Reading data files

## Data Files

In [400]:
# Normal order file
data1 = pd.read_csv("Normal48.csv")
data2 = pd.read_csv("Normal150.txt")
data3 = pd.read_csv("Normal22.txt")
data4 = pd.read_csv("Normal48P01.txt")
data5 = pd.read_csv("Normal48P02.txt")

In [401]:
# Reverse order file
data6 = pd.read_csv("Reverse48.csv")
data7 = pd.read_csv("Reverse150.txt")
data8 = pd.read_csv("Reverse22.txt")
data9 = pd.read_csv("Reverse48P01.txt")
data10 = pd.read_csv("Reverse48P02.txt")

In [402]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]
data3.columns = ["meas", "Op1", "Op2"]
data4.columns = ["meas", "Op1", "Op2"]
data5.columns = ["meas", "Op1", "Op2"]

data6.columns = ["meas", "Op1", "Op2"]
data7.columns = ["meas", "Op1", "Op2"]
data8.columns = ["meas", "Op1", "Op2"]
data9.columns = ["meas", "Op1", "Op2"]
data10.columns = ["meas", "Op1", "Op2"]

In [403]:
frame = [data1, data2, data3,data4,data5,data6, data7, data8,data9,data10]
frame48 =[data1,data6]
frame48p01 = [data4,data9]
frame48p02 = [data5,data10]
frame150 = [data2,data7]
frame22 = [data3,data8]

## Select data

In [404]:
data = pd.concat(frame22)

## Relabelling

In [405]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data.loc[data["Op1"] <2.5,"Op1"] = 0 
data.loc[data["Op1"] >=2.5,"Op1"] =1

In [406]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data.loc[data["Op2"] <8.5,"Op2"] = 0 
data.loc[data["Op2"] >=8.5,"Op2"] =1

In [407]:
data.head()

   meas  Op1  Op2
0   4.0  0.0  1.0
1   2.0  0.0  1.0
2   5.0  0.0  1.0
3   2.0  0.0  0.0
4   2.0  1.0  0.0

In [408]:
data

       meas  Op1  Op2
0       4.0  0.0  1.0
1       2.0  0.0  1.0
2       5.0  0.0  1.0
3       2.0  0.0  0.0
4       2.0  1.0  0.0
...     ...  ...  ...
53794   8.0  1.0  0.0
53795   7.0  1.0  0.0
53796   6.0  0.0  1.0
53797   7.0  0.0  1.0
53798  10.0  0.0  0.0

[107598 rows x 3 columns]

# Compatibility

In [409]:
Or12 = data.loc[data["meas"]==1]
Or23 = data.loc[data["meas"]==2]
Or34 = data.loc[data["meas"]==3]
Or45 = data.loc[data["meas"]==4]
Or51 = data.loc[data["meas"]==5]

In [410]:
Or15 = data.loc[data["meas"]==6]
Or21 = data.loc[data["meas"]==7]
Or32 = data.loc[data["meas"]==8]
Or43 = data.loc[data["meas"]==9]
Or54 = data.loc[data["meas"]==10]

## 12 and 21

In [411]:
Or1200 = Or12.loc[Or12["Op1"]==0]
Or1200 = Or1200.loc[Or1200["Op2"]==0]

Or1201 = Or12.loc[Or12["Op1"]==0]
Or1201 = Or1201.loc[Or1201["Op2"]==1]

Or1210 = Or12.loc[Or12["Op1"]==1]
Or1210 = Or1210.loc[Or1210["Op2"]==0]

Or1211 = Or12.loc[Or12["Op1"]==1]
Or1211 = Or1211.loc[Or1211["Op2"]==1]

In [412]:
Or2100 = Or21.loc[Or21["Op1"]==0]
Or2100 = Or2100.loc[Or2100["Op2"]==0]

Or2101 = Or21.loc[Or21["Op1"]==0]
Or2101 = Or2101.loc[Or2101["Op2"]==1]

Or2110 = Or21.loc[Or21["Op1"]==1]
Or2110 = Or2110.loc[Or2110["Op2"]==0]

Or2111 = Or21.loc[Or21["Op1"]==1]
Or2111 = Or2111.loc[Or2111["Op2"]==1]

In [413]:
list12 = [Or1200.shape[0],Or1201.shape[0],Or1210.shape[0],Or1211.shape[0]]
list12

[642, 5091, 5125, 25]

In [414]:
list21 = [Or2100.shape[0],Or2110.shape[0],Or2101.shape[0],Or2111.shape[0]]
list21

[621, 5023, 5028, 50]

In [415]:
diff12 = []
for k in range(4):
    diff12.append((list12[k]/sum(list12))-(list21[k]/sum(list21)))
diff12

[0.0010727881916015591,
 -0.0006822237365800565,
 0.0019755839197413416,
 -0.002366148374762869]

In [416]:
for k in range(4):
    diff12[k] = abs(diff12[k])
sum(diff12)

0.006096744222685826

## 23 and 32

In [417]:
Or2300 = Or23.loc[Or23["Op1"]==0]
Or2300 = Or2300.loc[Or2300["Op2"]==0]

Or2301 = Or23.loc[Or23["Op1"]==0]
Or2301 = Or2301.loc[Or2301["Op2"]==1]

Or2310 = Or23.loc[Or23["Op1"]==1]
Or2310 = Or2310.loc[Or2310["Op2"]==0]

Or2311 = Or23.loc[Or23["Op1"]==1]
Or2311 = Or2311.loc[Or2311["Op2"]==1]


Or3200 = Or32.loc[Or32["Op1"]==0]
Or3200 = Or3200.loc[Or3200["Op2"]==0]

Or3201 = Or32.loc[Or32["Op1"]==0]
Or3201 = Or3201.loc[Or3201["Op2"]==1]

Or3210 = Or32.loc[Or32["Op1"]==1]
Or3210 = Or3210.loc[Or3210["Op2"]==0]

Or3211 = Or32.loc[Or32["Op1"]==1]
Or3211 = Or3211.loc[Or3211["Op2"]==1]

list23 = [Or2300.shape[0],Or2301.shape[0],Or2310.shape[0],Or2311.shape[0]]
list32 = [Or3200.shape[0],Or3210.shape[0],Or3201.shape[0],Or3211.shape[0]]

diff23 = []
for k in range(4):
    diff23.append((list23[k]/sum(list23))-(list32[k]/sum(list32)))
print(diff23)

for k in range(4):
    diff23[k] = abs(diff23[k])
sum(diff23)

[0.0017718396917306002, 0.003733626409519908, -0.004946685933562067, -0.0005587801676884422]

0.011010932202501017

## 34 and 43

In [418]:
Or3400 = Or34.loc[Or34["Op1"]==0]
Or3400 = Or3400.loc[Or3400["Op2"]==0]

Or3401 = Or34.loc[Or34["Op1"]==0]
Or3401 = Or3401.loc[Or3401["Op2"]==1]

Or3410 = Or34.loc[Or34["Op1"]==1]
Or3410 = Or3410.loc[Or3410["Op2"]==0]

Or3411 = Or34.loc[Or34["Op1"]==1]
Or3411 = Or3411.loc[Or3411["Op2"]==1]


Or4300 = Or43.loc[Or43["Op1"]==0]
Or4300 = Or4300.loc[Or4300["Op2"]==0]

Or4301 = Or43.loc[Or43["Op1"]==0]
Or4301 = Or4301.loc[Or4301["Op2"]==1]

Or4310 = Or43.loc[Or43["Op1"]==1]
Or4310 = Or4310.loc[Or4310["Op2"]==0]

Or4311 = Or43.loc[Or43["Op1"]==1]
Or4311 = Or4311.loc[Or4311["Op2"]==1]

list34 = [Or3400.shape[0],Or3401.shape[0],Or3410.shape[0],Or3411.shape[0]]
list43 = [Or4300.shape[0],Or4310.shape[0],Or4301.shape[0],Or4311.shape[0]]

diff34 = []
for k in range(4):
    diff34.append((list34[k]/sum(list34))-(list43[k]/sum(list43)))
print(diff34)

for k in range(4):
    diff34[k] = abs(diff34[k])
sum(diff34)

[0.006214894997949083, -0.011646994728454735, -0.00297735799974419, 0.008409457730249837]

0.029248705456397843

## 45 and 54

In [419]:
Or4500 = Or45.loc[Or45["Op1"]==0]
Or4500 = Or4500.loc[Or4500["Op2"]==0]

Or4501 = Or45.loc[Or45["Op1"]==0]
Or4501 = Or4501.loc[Or4501["Op2"]==1]

Or4510 = Or45.loc[Or45["Op1"]==1]
Or4510 = Or4510.loc[Or4510["Op2"]==0]

Or4511 = Or45.loc[Or45["Op1"]==1]
Or4511 = Or4511.loc[Or4511["Op2"]==1]


Or5400 = Or54.loc[Or54["Op1"]==0]
Or5400 = Or5400.loc[Or5400["Op2"]==0]

Or5401 = Or54.loc[Or54["Op1"]==0]
Or5401 = Or5401.loc[Or5401["Op2"]==1]

Or5410 = Or54.loc[Or54["Op1"]==1]
Or5410 = Or5410.loc[Or5410["Op2"]==0]

Or5411 = Or54.loc[Or54["Op1"]==1]
Or5411 = Or5411.loc[Or5411["Op2"]==1]

list45 = [Or4500.shape[0],Or4501.shape[0],Or4510.shape[0],Or4511.shape[0]]
list54 = [Or5400.shape[0],Or5410.shape[0],Or5401.shape[0],Or5411.shape[0]]

diff45 = []
for k in range(4):
    diff45.append((list45[k]/sum(list45))-(list54[k]/sum(list54)))
print(diff45)

for k in range(4):
    diff45[k] = abs(diff45[k])
sum(diff45)

[-0.004519755059500419, 0.0033571162451575542, 0.0019837786434594995, -0.0008211398291167413]

0.010681789777234213

## 15 and 51

In [420]:
Or1500 = Or15.loc[Or15["Op1"]==0]
Or1500 = Or1500.loc[Or1500["Op2"]==0]

Or1501 = Or15.loc[Or15["Op1"]==0]
Or1501 = Or1501.loc[Or1501["Op2"]==1]

Or1510 = Or15.loc[Or15["Op1"]==1]
Or1510 = Or1510.loc[Or1510["Op2"]==0]

Or1511 = Or15.loc[Or15["Op1"]==1]
Or1511 = Or1511.loc[Or1511["Op2"]==1]


Or5100 = Or51.loc[Or51["Op1"]==0]
Or5100 = Or5100.loc[Or5100["Op2"]==0]

Or5101 = Or51.loc[Or51["Op1"]==0]
Or5101 = Or5101.loc[Or5101["Op2"]==1]

Or5110 = Or51.loc[Or51["Op1"]==1]
Or5110 = Or5110.loc[Or5110["Op2"]==0]

Or5111 = Or51.loc[Or51["Op1"]==1]
Or5111 = Or5111.loc[Or5111["Op2"]==1]

list15 = [Or1500.shape[0],Or1501.shape[0],Or1510.shape[0],Or1511.shape[0]]
list51 = [Or5100.shape[0],Or5110.shape[0],Or5101.shape[0],Or5111.shape[0]]

diff15 = []
for k in range(4):
    diff15.append((list15[k]/sum(list15))-(list51[k]/sum(list51)))
print(diff15)

for k in range(4):
    diff15[k] = abs(diff15[k])
sum(diff15)

[0.0010372505207268488, -0.0017974373424024526, 9.627522467969829e-05, 0.0006639115969959914]

0.003594874684804991