# Libraries

In [1]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [92]:
# Normal order file
# data1 = pd.read_csv("Normal48.csv")
# data1 = pd.read_csv("Normal150.txt")
# data1 = pd.read_csv("Normal22.txt")
# data1 = pd.read_csv("Normal48P01.txt")
data1 = pd.read_csv("Normal48P02.txt")

In [93]:
# Reverse order file
# data2 = pd.read_csv("Reverse48.csv")
# data2 = pd.read_csv("Reverse150.txt")
# data2 = pd.read_csv("Reverse22.txt")
# data2 = pd.read_csv("Reverse48P01.txt")
data2 = pd.read_csv("Reverse48P02.txt")

In [94]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]

## Relabelling

In [95]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data1.loc[data1["Op1"] <2.5,"Op1"] = 0 
data1.loc[data1["Op1"] >=2.5,"Op1"] =1
data2.loc[data2["Op1"] <2.5,"Op1"] = 0 
data2.loc[data2["Op1"] >=2.5,"Op1"] =1

In [96]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data1.loc[data1["Op2"] <8.5,"Op2"] = 0 
data1.loc[data1["Op2"] >=8.5,"Op2"] =1
data2.loc[data2["Op2"] <8.5,"Op2"] = 0 
data2.loc[data2["Op2"] >=8.5,"Op2"] =1

In [97]:
data1.head()

   meas  Op1  Op2
0     1    0    1
1     4    1    0
2     2    0    1
3     4    1    0
4     2    0    1

In [98]:
data2.head()

   meas  Op1  Op2
0     7  0.0  0.0
1     7  1.0  0.0
2    10  1.0  0.0
3     6  1.0  0.0
4     7  1.0  0.0

In [99]:
data1["Product"] = data1["Op1"]*data1["Op2"]
data2["Product"] = data2["Op1"]*data2["Op2"]

In [100]:
data1

       meas  Op1  Op2  Product
0         1    0    1        0
1         4    1    0        0
2         2    0    1        0
3         4    1    0        0
4         2    0    1        0
...     ...  ...  ...      ...
50150     5    1    0        0
50151     3    0    1        0
50152     2    0    1        0
50153     5    0    1        0
50154     3    0    1        0

[50155 rows x 4 columns]

In [101]:
data2

       meas  Op1  Op2  Product
0         7  0.0  0.0      0.0
1         7  1.0  0.0      0.0
2        10  1.0  0.0      0.0
3         6  1.0  0.0      0.0
4         7  1.0  0.0      0.0
...     ...  ...  ...      ...
52895     7  0.0  1.0      0.0
52896     9  0.0  1.0      0.0
52897     9  1.0  0.0      0.0
52898     7  1.0  0.0      0.0
52899    10  1.0  0.0      0.0

[52900 rows x 4 columns]

In [102]:
data3 = data1.append(data2)

In [103]:
data3

       meas  Op1  Op2  Product
0         1  0.0  1.0      0.0
1         4  1.0  0.0      0.0
2         2  0.0  1.0      0.0
3         4  1.0  0.0      0.0
4         2  0.0  1.0      0.0
...     ...  ...  ...      ...
52895     7  0.0  1.0      0.0
52896     9  0.0  1.0      0.0
52897     9  1.0  0.0      0.0
52898     7  1.0  0.0      0.0
52899    10  1.0  0.0      0.0

[103055 rows x 4 columns]

In [104]:
data3.sum()

meas       572784.0
Op1         44160.0
Op2         44113.0
Product       755.0
dtype: float64

In [105]:
# Coarse-grained deviation from orthogonality
224.0/109998

0.002036400661830215

## Fine-Grained Orthogonality

In [106]:
# |P(11|pia,pib) -P(11|pib,pia)| <= max(P(11|pia,pib),P(11|pia,pib))
# Finding the worst case deviation from orthogonality, thus, corresponds to finding the max over all
# probabilities.
Or1 = data1.loc[data1["meas"]==1]
Or2 = data1.loc[data1["meas"]==2]
Or3 = data1.loc[data1["meas"]==3]
Or4 = data1.loc[data1["meas"]==4]
Or5 = data1.loc[data1["meas"]==5]

In [107]:
Or6 = data2.loc[data2["meas"]==6]
Or7 = data2.loc[data2["meas"]==7]
Or8 = data2.loc[data2["meas"]==8]
Or9 = data2.loc[data2["meas"]==9]
Or10 = data2.loc[data2["meas"]==10]
Or10.head()

    meas  Op1  Op2  Product
2     10  1.0  0.0      0.0
17    10  1.0  0.0      0.0
19    10  1.0  0.0      0.0
29    10  1.0  0.0      0.0
33    10  0.0  1.0      0.0

In [108]:
Or4.shape

(9995, 4)

In [109]:
List1= []
List1.append(Or1.sum()["Product"]/Or1.shape[0])
List1.append(Or2.sum()["Product"]/Or2.shape[0])
List1.append(Or3.sum()["Product"]/Or3.shape[0])
List1.append(Or4.sum()["Product"]/Or4.shape[0])
List1.append(Or5.sum()["Product"]/Or5.shape[0])
List1.append(Or6.sum()["Product"]/Or6.shape[0])
List1.append(Or7.sum()["Product"]/Or7.shape[0])
List1.append(Or8.sum()["Product"]/Or8.shape[0])
List1.append(Or9.sum()["Product"]/Or9.shape[0])
List1.append(Or10.sum()["Product"]/Or10.shape[0])
List1

[0.00801107704480269,
 0.010425020048115477,
 0.007680189050807405,
 0.007103551775887944,
 0.006856912372693355,
 0.006174571989896155,
 0.006188118811881188,
 0.008751512894516339,
 0.006154137473963265,
 0.006055363321799308]

In [110]:
max(List1)

0.010425020048115477

# Violations

## Normal order only

In [111]:
m1list = Or1["Op1"].tolist()
# m1list = m1list + Or6["Op1"].tolist()
# m1list = m1list + Or5["Op2"].tolist()
# m1list = m1list + Or7["Op2"].tolist()


m2list = Or2["Op1"].tolist()
# m2list = m2list + Or7["Op1"].tolist()
# m2list = m2list + Or1["Op2"].tolist()
# m2list = m2list + Or8["Op2"].tolist()


m3list = Or3["Op1"].tolist()
# m3list = m3list + Or8["Op1"].tolist()
# m3list = m3list + Or2["Op2"].tolist()
# m3list = m3list + Or9["Op2"].tolist()


m4list = Or4["Op1"].tolist()
# m4list = m4list + Or9["Op1"].tolist()
# m4list = m4list + Or3["Op2"].tolist()
# m4list = m4list + Or10["Op2"].tolist()


m5list = Or5["Op1"].tolist()
# m5list = m5list + Or10["Op1"].tolist()


mean_list = [np.mean(m1list),np.mean(m2list),np.mean(m3list),np.mean(m4list),np.mean(m5list)]
sum(mean_list)

2.139890182927326

In [112]:
np.sqrt(5)

2.23606797749979

In [113]:
slist = [np.std(m1list)/np.sqrt(len(m1list)),np.std(m2list)/np.sqrt(len(m2list)),np.std(m3list)/np.sqrt(len(m3list)),np.std(m4list)/np.sqrt(len(m4list)),np.std(m5list)/np.sqrt(len(m5list))]
val = np.sqrt(slist[0]*slist[0]+slist[1]*slist[1]+slist[2]*slist[2]+slist[3]*slist[3]+slist[4]*slist[4] )
val

0.011046846668161555

In [114]:
# https://en.wikipedia.org/wiki/Standard_error
#https://en.wikipedia.org/wiki/1.96
sum(mean_list) - 1.96*val

2.1182383634577295

In [115]:
1.96*val

0.021651819469596646

## Reverse order only

In [116]:
m1list = Or6["Op1"].tolist()
# m1list = m1list + Or6["Op1"].tolist()
# m1list = m1list + Or5["Op2"].tolist()
# m1list = m1list + Or7["Op2"].tolist()


m2list = Or7["Op1"].tolist()
# m2list = m2list + Or7["Op1"].tolist()
# m2list = m2list + Or1["Op2"].tolist()
# m2list = m2list + Or8["Op2"].tolist()


m3list = Or8["Op1"].tolist()
# m3list = m3list + Or8["Op1"].tolist()
# m3list = m3list + Or2["Op2"].tolist()
# m3list = m3list + Or9["Op2"].tolist()


m4list = Or9["Op1"].tolist()
# m4list = m4list + Or9["Op1"].tolist()
# m4list = m4list + Or3["Op2"].tolist()
# m4list = m4list + Or10["Op2"].tolist()


m5list = Or10["Op1"].tolist()
# m5list = m5list + Or10["Op1"].tolist()


mean_list = [np.mean(m1list),np.mean(m2list),np.mean(m3list),np.mean(m4list),np.mean(m5list)]
sum(mean_list)

2.145232848330623

In [117]:
slist = [np.std(m1list)/np.sqrt(len(m1list)),np.std(m2list)/np.sqrt(len(m2list)),np.std(m3list)/np.sqrt(len(m3list)),np.std(m4list)/np.sqrt(len(m4list)),np.std(m5list)/np.sqrt(len(m5list))]
val = np.sqrt(slist[0]*slist[0]+slist[1]*slist[1]+slist[2]*slist[2]+slist[3]*slist[3]+slist[4]*slist[4] )
val

0.010759974486001253

In [118]:
sum(mean_list) - 1.96*val

2.1241432983380606

In [119]:
np.sqrt(5)

2.23606797749979