# Libraries

In [29]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [30]:
# Normal order file
data1 = pd.read_csv("Normal48.csv")
# data1 = pd.read_csv("Normal150.txt")
# data1 = pd.read_csv("Normal22.txt")
# data1 = pd.read_csv("Normal48P01.txt")
# data1 = pd.read_csv("Normal48P02.txt")

In [31]:
# Reverse order file
data2 = pd.read_csv("Reverse48.csv")
# data2 = pd.read_csv("Reverse150.txt")
# data2 = pd.read_csv("Reverse22.txt")
# data2 = pd.read_csv("Reverse48P01.txt")
# data2 = pd.read_csv("Reverse48P02.txt")

In [32]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]

## Relabelling

In [33]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data1.loc[data1["Op1"] <2.5,"Op1"] = 0 
data1.loc[data1["Op1"] >=2.5,"Op1"] =1
data2.loc[data2["Op1"] <2.5,"Op1"] = 0 
data2.loc[data2["Op1"] >=2.5,"Op1"] =1

In [34]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data1.loc[data1["Op2"] <8.5,"Op2"] = 0 
data1.loc[data1["Op2"] >=8.5,"Op2"] =1
data2.loc[data2["Op2"] <8.5,"Op2"] = 0 
data2.loc[data2["Op2"] >=8.5,"Op2"] =1

In [35]:
data1.head()

   meas  Op1  Op2
0     1    1    0
1     1    1    0
2     1    0    1
3     3    0    1
4     1    1    0

In [36]:
data2.head()

   meas  Op1  Op2
0     9    0    0
1     8    1    0
2     8    0    1
3     7    1    0
4     7    0    0

In [37]:
data1["Product"] = data1["Op1"]*data1["Op2"]
data2["Product"] = data2["Op1"]*data2["Op2"]

In [38]:
data1

       meas  Op1  Op2  Product
0         1    1    0        0
1         1    1    0        0
2         1    0    1        0
3         3    0    1        0
4         1    1    0        0
...     ...  ...  ...      ...
83268     4    1    0        0
83269     2    1    0        0
83270     3    0    1        0
83271     3    0    1        0
83272     2    1    0        0

[83273 rows x 4 columns]

In [39]:
data2

       meas  Op1  Op2  Product
0         9    0    0        0
1         8    1    0        0
2         8    0    1        0
3         7    1    0        0
4         7    0    0        0
...     ...  ...  ...      ...
52760     9    0    1        0
52761    10    1    0        0
52762     9    0    1        0
52763     9    1    0        0
52764     6    0    1        0

[52765 rows x 4 columns]

In [40]:
data3 = data1.append(data2)

In [41]:
data3

       meas  Op1  Op2  Product
0         1    1    0        0
1         1    1    0        0
2         1    0    1        0
3         3    0    1        0
4         1    1    0        0
...     ...  ...  ...      ...
52760     9    0    1        0
52761    10    1    0        0
52762     9    0    1        0
52763     9    1    0        0
52764     6    0    1        0

[136038 rows x 4 columns]

In [42]:
data3.sum()

meas       671385
Op1         61258
Op2         61146
Product       848
dtype: int64

In [43]:
# Coarse-grained deviation from orthogonality
224.0/109998

0.002036400661830215

## Fine-Grained Orthogonality

In [44]:
# |P(11|pia,pib) -P(11|pib,pia)| <= max(P(11|pia,pib),P(11|pia,pib))
# Finding the worst case deviation from orthogonality, thus, corresponds to finding the max over all
# probabilities.
Or1 = data1.loc[data1["meas"]==1]
Or2 = data1.loc[data1["meas"]==2]
Or3 = data1.loc[data1["meas"]==3]
Or4 = data1.loc[data1["meas"]==4]
Or5 = data1.loc[data1["meas"]==5]

In [45]:
Or6 = data2.loc[data2["meas"]==6]
Or7 = data2.loc[data2["meas"]==7]
Or8 = data2.loc[data2["meas"]==8]
Or9 = data2.loc[data2["meas"]==9]
Or10 = data2.loc[data2["meas"]==10]
Or10.head()

    meas  Op1  Op2  Product
10    10    1    0        0
11    10    0    0        0
12    10    1    0        0
16    10    0    1        0
22    10    0    1        0

In [46]:
Or4.shape

(16668, 4)

In [47]:
List1= []
ListN = []
ListR = []
List1.append(Or1.sum()["Product"]/Or1.shape[0])
List1.append(Or2.sum()["Product"]/Or2.shape[0])
List1.append(Or3.sum()["Product"]/Or3.shape[0])
List1.append(Or4.sum()["Product"]/Or4.shape[0])
List1.append(Or5.sum()["Product"]/Or5.shape[0])
ListN.append(Or1.sum()["Product"]/Or1.shape[0])
ListN.append(Or2.sum()["Product"]/Or2.shape[0])
ListN.append(Or3.sum()["Product"]/Or3.shape[0])
ListN.append(Or4.sum()["Product"]/Or4.shape[0])
ListN.append(Or5.sum()["Product"]/Or5.shape[0])


List1.append(Or6.sum()["Product"]/Or6.shape[0])
List1.append(Or7.sum()["Product"]/Or7.shape[0])
List1.append(Or8.sum()["Product"]/Or8.shape[0])
List1.append(Or9.sum()["Product"]/Or9.shape[0])
List1.append(Or10.sum()["Product"]/Or10.shape[0])
ListR.append(Or6.sum()["Product"]/Or6.shape[0])
ListR.append(Or7.sum()["Product"]/Or7.shape[0])
ListR.append(Or8.sum()["Product"]/Or8.shape[0])
ListR.append(Or9.sum()["Product"]/Or9.shape[0])
ListR.append(Or10.sum()["Product"]/Or10.shape[0])

In [54]:
np.mean(ListN)

0.004990637440041612

In [56]:
ListN

[0.005516668643967256,
 0.007807338898564651,
 0.004268879268879269,
 0.004019678425725942,
 0.0033406219630709427]

In [49]:
np.std(ListN)

0.0015745960290380826

In [53]:
1-np.mean(ListR)

0.9918200650510155

In [51]:
np.std(ListR)

0.00189390507845165

# Violations

## Normal order only

In [220]:
m1list = Or1["Op1"].tolist()
# m1list = m1list + Or6["Op1"].tolist()
# m1list = m1list + Or5["Op2"].tolist()
# m1list = m1list + Or7["Op2"].tolist()


m2list = Or2["Op1"].tolist()
# m2list = m2list + Or7["Op1"].tolist()
# m2list = m2list + Or1["Op2"].tolist()
# m2list = m2list + Or8["Op2"].tolist()


m3list = Or3["Op1"].tolist()
# m3list = m3list + Or8["Op1"].tolist()
# m3list = m3list + Or2["Op2"].tolist()
# m3list = m3list + Or9["Op2"].tolist()


m4list = Or4["Op1"].tolist()
# m4list = m4list + Or9["Op1"].tolist()
# m4list = m4list + Or3["Op2"].tolist()
# m4list = m4list + Or10["Op2"].tolist()


m5list = Or5["Op1"].tolist()
# m5list = m5list + Or10["Op1"].tolist()


mean_list = [np.mean(m1list),np.mean(m2list),np.mean(m3list),np.mean(m4list),np.mean(m5list)]
sum(mean_list)

2.061757357978353

In [221]:
np.sqrt(5)

2.23606797749979

In [222]:
slist = [np.std(m1list)/np.sqrt(len(m1list)),np.std(m2list)/np.sqrt(len(m2list)),np.std(m3list)/np.sqrt(len(m3list)),np.std(m4list)/np.sqrt(len(m4list)),np.std(m5list)/np.sqrt(len(m5list))]
val = np.sqrt(slist[0]*slist[0]+slist[1]*slist[1]+slist[2]*slist[2]+slist[3]*slist[3]+slist[4]*slist[4] )
val

0.009739172825156024

In [223]:
# https://en.wikipedia.org/wiki/Standard_error
#https://en.wikipedia.org/wiki/1.96
sum(mean_list) - 1.96*val

2.042668579241047

In [224]:
1.96*val

0.019088778737305807

In [225]:
out = []
for i in range(len(mean_list)):
    val = mean_list[i]-1.96*slist[i]
    out.append(val)
outN = out
outN

[0.4040718641478669,
 0.4103849349022183,
 0.5667112684580243,
 0.06856361805132027,
 0.5702484248115887]

## Reverse order only

In [226]:
m1list = Or6["Op1"].tolist()
# m1list = m1list + Or6["Op1"].tolist()
# m1list = m1list + Or5["Op2"].tolist()
# m1list = m1list + Or7["Op2"].tolist()


m2list = Or7["Op1"].tolist()
# m2list = m2list + Or7["Op1"].tolist()
# m2list = m2list + Or1["Op2"].tolist()
# m2list = m2list + Or8["Op2"].tolist()


m3list = Or8["Op1"].tolist()
# m3list = m3list + Or8["Op1"].tolist()
# m3list = m3list + Or2["Op2"].tolist()
# m3list = m3list + Or9["Op2"].tolist()


m4list = Or9["Op1"].tolist()
# m4list = m4list + Or9["Op1"].tolist()
# m4list = m4list + Or3["Op2"].tolist()
# m4list = m4list + Or10["Op2"].tolist()


m5list = Or10["Op1"].tolist()
# m5list = m5list + Or10["Op1"].tolist()


mean_list = [np.mean(m1list),np.mean(m2list),np.mean(m3list),np.mean(m4list),np.mean(m5list)]
sum(mean_list)

2.0676958579551883

In [227]:
slist = [np.std(m1list)/np.sqrt(len(m1list)),np.std(m2list)/np.sqrt(len(m2list)),np.std(m3list)/np.sqrt(len(m3list)),np.std(m4list)/np.sqrt(len(m4list)),np.std(m5list)/np.sqrt(len(m5list))]
val = np.sqrt(slist[0]*slist[0]+slist[1]*slist[1]+slist[2]*slist[2]+slist[3]*slist[3]+slist[4]*slist[4] )
val

0.009778193095192416

In [228]:
sum(mean_list) - 1.96*val

2.048530599488611

In [195]:
np.sqrt(5)

2.23606797749979

In [196]:
out = []
for i in range(len(mean_list)):
    val = mean_list[i]-1.96*slist[i]
    out.append(val)
outR = out
outR

[0.4591842547481937,
 0.46368871348272206,
 0.5188417669147799,
 0.0815211219163075,
 0.5104566810322453]

In [197]:
# finlist48_p0 = []
# finlist48_p0.append([outN, outR])
# finlist48_p0

In [198]:
# finlist48_p01 = []
# finlist48_p01.append([outN, outR])
# finlist48_p01

In [199]:
# finlist48_p02 = []
# finlist48_p02.append([outN, outR])
# finlist48_p02

In [229]:
# finlist22 = []
# finlist22.append([outN, outR])
# finlist22

In [231]:
# finlist150= []
# finlist150.append([outN, outR])
# finlist150

In [232]:
finlist = [finlist48_p0, finlist48_p01,finlist48_p02,finlist22,finlist150]

In [233]:
finlist

[[[[0.4402334403378609,
    0.4419067705735776,
    0.4367124746739901,
    0.4493609254660547,
    0.44350442194818446],
   [0.43978718970562325,
    0.4448159354601214,
    0.4361677790180469,
    0.4380619150575636,
    0.4484043800119112]]],
 [[[0.42926449119358195,
    0.43181033904603894,
    0.43173817226554406,
    0.4391852459461737,
    0.4284564211345451],
   [0.4305178967212709,
    0.4259721850529409,
    0.43656400274564944,
    0.4335834823454092,
    0.4295345411712337]]],
 [[[0.415445561432019,
    0.4146196322041054,
    0.4208544434764578,
    0.4175155760562105,
    0.42304055612753766],
   [0.41182027776886054,
    0.4195143882874585,
    0.4198359058135768,
    0.42361205077517494,
    0.4232935921895907]]],
 [[[0.46383456886507074,
    0.45648700869719466,
    0.5189881868815033,
    0.07355628355536036,
    0.5223408211637447],
   [0.4591842547481937,
    0.46368871348272206,
    0.5188417669147799,
    0.0815211219163075,
    0.5104566810322453]]],
 [[[0.4040718641478669,
    0.4103849349022183,
    0.5667112684580243,
    0.06856361805132027,
    0.5702484248115887],
   [0.4591842547481937,
    0.46368871348272206,
    0.5188417669147799,
    0.0815211219163075,
    0.5104566810322453]]]]

In [234]:
[[[[0.4402334403378609,
    0.4419067705735776,
    0.4367124746739901,
    0.4493609254660547,
    0.44350442194818446],
   [0.43978718970562325,
    0.4448159354601214,
    0.4361677790180469,
    0.4380619150575636,
    0.4484043800119112]]],
 [[[0.42926449119358195,
    0.43181033904603894,
    0.43173817226554406,
    0.4391852459461737,
    0.4284564211345451],
   [0.4305178967212709,
    0.4259721850529409,
    0.43656400274564944,
    0.4335834823454092,
    0.4295345411712337]]],
 [[[0.415445561432019,
    0.4146196322041054,
    0.4208544434764578,
    0.4175155760562105,
    0.42304055612753766],
   [0.41182027776886054,
    0.4195143882874585,
    0.4198359058135768,
    0.42361205077517494,
    0.4232935921895907]]],
 [[[0.46383456886507074,
    0.45648700869719466,
    0.5189881868815033,
    0.07355628355536036,
    0.5223408211637447],
   [0.4591842547481937,
    0.46368871348272206,
    0.5188417669147799,
    0.0815211219163075,
    0.5104566810322453]]],
 [[[0.4040718641478669,
    0.4103849349022183,
    0.5667112684580243,
    0.06856361805132027,
    0.5702484248115887],
   [0.4591842547481937,
    0.46368871348272206,
    0.5188417669147799,
    0.0815211219163075,
    0.5104566810322453]]]]

[[[[0.4402334403378609,
    0.4419067705735776,
    0.4367124746739901,
    0.4493609254660547,
    0.44350442194818446],
   [0.43978718970562325,
    0.4448159354601214,
    0.4361677790180469,
    0.4380619150575636,
    0.4484043800119112]]],
 [[[0.42926449119358195,
    0.43181033904603894,
    0.43173817226554406,
    0.4391852459461737,
    0.4284564211345451],
   [0.4305178967212709,
    0.4259721850529409,
    0.43656400274564944,
    0.4335834823454092,
    0.4295345411712337]]],
 [[[0.415445561432019,
    0.4146196322041054,
    0.4208544434764578,
    0.4175155760562105,
    0.42304055612753766],
   [0.41182027776886054,
    0.4195143882874585,
    0.4198359058135768,
    0.42361205077517494,
    0.4232935921895907]]],
 [[[0.46383456886507074,
    0.45648700869719466,
    0.5189881868815033,
    0.07355628355536036,
    0.5223408211637447],
   [0.4591842547481937,
    0.46368871348272206,
    0.5188417669147799,
    0.0815211219163075,
    0.5104566810322453]]],
 [[[0.4040718641478669,
    0.4103849349022183,
    0.5667112684580243,
    0.06856361805132027,
    0.5702484248115887],
   [0.4591842547481937,
    0.46368871348272206,
    0.5188417669147799,
    0.0815211219163075,
    0.5104566810322453]]]]