# Libraries

In [1]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [2]:
# Normal order file
# data1 = pd.read_csv("Normal48.csv")
#data1 = pd.read_csv("Normal150.txt")
# data1 = pd.read_csv("Normal22.txt")
data1 = pd.read_csv("Normal48P01.txt")

In [3]:
# Reverse order file
# data2 = pd.read_csv("Reverse48.csv")
#data2 = pd.read_csv("Reverse150.txt")
# data2 = pd.read_csv("Reverse22.txt")
data2 = pd.read_csv("Reverse48P01.txt")

In [4]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]

## Relabelling

In [5]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data1.loc[data1["Op1"] <2.5,"Op1"] = 0 
data1.loc[data1["Op1"] >=2.5,"Op1"] =1
data2.loc[data2["Op1"] <2.5,"Op1"] = 0 
data2.loc[data2["Op1"] >=2.5,"Op1"] =1

In [6]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data1.loc[data1["Op2"] <8.5,"Op2"] = 0 
data1.loc[data1["Op2"] >=8.5,"Op2"] =1
data2.loc[data2["Op2"] <8.5,"Op2"] = 0 
data2.loc[data2["Op2"] >=8.5,"Op2"] =1

In [7]:
data1.head()

   meas  Op1  Op2
0     5    0    1
1     5    0    1
2     2    0    1
3     5    1    0
4     5    1    0

In [8]:
data2.head()

   meas  Op1  Op2
0     9  1.0  0.0
1     8  0.0  1.0
2     8  0.0  1.0
3     6  0.0  1.0
4    10  1.0  0.0

In [9]:
data1["Product"] = data1["Op1"]*data1["Op2"]
data2["Product"] = data2["Op1"]*data2["Op2"]

In [10]:
data1

       meas  Op1  Op2  Product
0         5    0    1        0
1         5    0    1        0
2         2    0    1        0
3         5    1    0        0
4         5    1    0        0
...     ...  ...  ...      ...
53678     5    0    1        0
53679     2    0    1        0
53680     3    1    0        0
53681     5    1    0        0
53682     1    1    0        0

[53683 rows x 4 columns]

In [11]:
data2

       meas  Op1  Op2  Product
0         9  1.0  0.0      0.0
1         8  0.0  1.0      0.0
2         8  0.0  1.0      0.0
3         6  0.0  1.0      0.0
4        10  1.0  0.0      0.0
...     ...  ...  ...      ...
54796     8  1.0  0.0      0.0
54797     9  0.0  1.0      0.0
54798     7  1.0  0.0      0.0
54799     9  1.0  0.0      0.0
54800     7  0.0  1.0      0.0

[54801 rows x 4 columns]

In [12]:
data3 = data1.append(data2)

In [13]:
data3

       meas  Op1  Op2  Product
0         5  0.0  1.0      0.0
1         5  0.0  1.0      0.0
2         2  0.0  1.0      0.0
3         5  1.0  0.0      0.0
4         5  1.0  0.0      0.0
...     ...  ...  ...      ...
54796     8  1.0  0.0      0.0
54797     9  0.0  1.0      0.0
54798     7  1.0  0.0      0.0
54799     9  1.0  0.0      0.0
54800     7  0.0  1.0      0.0

[108484 rows x 4 columns]

In [14]:
data3.sum()

meas       599538.0
Op1         47843.0
Op2         47621.0
Product       910.0
dtype: float64

In [15]:
# Coarse-grained deviation from orthogonality
224.0/109998

0.002036400661830215

## Fine-Grained Orthogonality

In [16]:
# |P(11|pia,pib) -P(11|pib,pia)| <= max(P(11|pia,pib),P(11|pia,pib))
# Finding the worst case deviation from orthogonality, thus, corresponds to finding the max over all
# probabilities.
Or1 = data1.loc[data1["meas"]==1]
Or2 = data1.loc[data1["meas"]==2]
Or3 = data1.loc[data1["meas"]==3]
Or4 = data1.loc[data1["meas"]==4]
Or5 = data1.loc[data1["meas"]==5]

In [17]:
Or6 = data2.loc[data2["meas"]==6]
Or7 = data2.loc[data2["meas"]==7]
Or8 = data2.loc[data2["meas"]==8]
Or9 = data2.loc[data2["meas"]==9]
Or10 = data2.loc[data2["meas"]==10]
Or10.head()

    meas  Op1  Op2  Product
4     10  1.0  0.0      0.0
5     10  1.0  0.0      0.0
11    10  1.0  0.0      0.0
14    10  1.0  0.0      0.0
21    10  1.0  0.0      0.0

In [18]:
Or4.shape

(10711, 4)

In [19]:
List1= []
List1.append(Or1.sum()["Product"]/Or1.shape[0])
List1.append(Or2.sum()["Product"]/Or2.shape[0])
List1.append(Or3.sum()["Product"]/Or3.shape[0])
List1.append(Or4.sum()["Product"]/Or4.shape[0])
List1.append(Or5.sum()["Product"]/Or5.shape[0])
List1.append(Or6.sum()["Product"]/Or6.shape[0])
List1.append(Or7.sum()["Product"]/Or7.shape[0])
List1.append(Or8.sum()["Product"]/Or8.shape[0])
List1.append(Or9.sum()["Product"]/Or9.shape[0])
List1.append(Or10.sum()["Product"]/Or10.shape[0])
List1

[0.007442552795608894,
 0.012831319659080267,
 0.00951061865189289,
 0.008869386611894315,
 0.005132512131392311,
 0.007169434612941283,
 0.009469872806610342,
 0.008651306802659138,
 0.008349793499730652,
 0.0065185457216305545]

In [20]:
max(List1)

0.012831319659080267

# Violations

In [21]:
m1list = Or1["Op1"].tolist()
m1list = m1list + Or6["Op1"].tolist()
m2list = Or2["Op1"].tolist()
m2list = m2list + Or7["Op1"].tolist()
m3list = Or3["Op1"].tolist()
m3list = m3list + Or8["Op1"].tolist()
m4list = Or4["Op1"].tolist()
m4list = m4list + Or9["Op1"].tolist()
m5list = Or5["Op1"].tolist()
m5list = m5list + Or10["Op1"].tolist()
mean_list = [np.mean(m1list),np.mean(m2list),np.mean(m3list),np.mean(m4list),np.mean(m5list)]
sum(mean_list)

2.2049896816614027

In [22]:
np.sqrt(5)

2.23606797749979

In [23]:
slist = [np.std(m1list)/np.sqrt(len(m1list)),np.std(m2list)/np.sqrt(len(m2list)),np.std(m3list)/np.sqrt(len(m3list)),np.std(m4list)/np.sqrt(len(m4list)),np.std(m5list)/np.sqrt(len(m5list))]
val = np.sqrt(slist[0]*slist[0]+slist[1]*slist[1]+slist[2]*slist[2]+slist[3]*slist[3]+slist[4]*slist[4] )
val

0.0075372468293014

In [24]:
# https://en.wikipedia.org/wiki/Standard_error
#https://en.wikipedia.org/wiki/1.96
sum(mean_list) - 1.96*val

2.190216677875972