# Libraries

In [56]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [113]:
# Normal order file
# data1 = pd.read_csv("Normal48.csv")
data1 = pd.read_csv("Normal22.txt")

In [114]:
# Reverse order file
# data1 = pd.read_csv("Reverse48.csv")
data2 = pd.read_csv("Reverse22.txt")

In [115]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]

## Relabelling

In [116]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data1.loc[data1["Op1"] <2.5,"Op1"] = 0 
data1.loc[data1["Op1"] >=2.5,"Op1"] =1
data2.loc[data2["Op1"] <2.5,"Op1"] = 0 
data2.loc[data2["Op1"] >=2.5,"Op1"] =1

In [117]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data1.loc[data1["Op2"] <8.5,"Op2"] = 0 
data1.loc[data1["Op2"] >=8.5,"Op2"] =1
data2.loc[data2["Op2"] <8.5,"Op2"] = 0 
data2.loc[data2["Op2"] >=8.5,"Op2"] =1

In [118]:
data1.head()

   meas  Op1  Op2
0   4.0  0.0  1.0
1   2.0  0.0  1.0
2   5.0  0.0  1.0
3   2.0  0.0  0.0
4   2.0  1.0  0.0

In [119]:
data2.head()

   meas  Op1  Op2
0   8.0  1.0  0.0
1   6.0  1.0  0.0
2   9.0  1.0  0.0
3   7.0  0.0  0.0
4  10.0  1.0  0.0

In [120]:
data1["Product"] = data1["Op1"]*data1["Op2"]
data2["Product"] = data2["Op1"]*data2["Op2"]

In [121]:
data1

       meas  Op1  Op2  Product
0       4.0  0.0  1.0      0.0
1       2.0  0.0  1.0      0.0
2       5.0  0.0  1.0      0.0
3       2.0  0.0  0.0      0.0
4       2.0  1.0  0.0      0.0
...     ...  ...  ...      ...
53794   2.0  0.0  1.0      0.0
53795   3.0  1.0  0.0      0.0
53796   4.0  0.0  1.0      0.0
53797   1.0  0.0  1.0      0.0
53798   3.0  1.0  0.0      0.0

[53799 rows x 4 columns]

In [122]:
data2

       meas  Op1  Op2  Product
0       8.0  1.0  0.0      0.0
1       6.0  1.0  0.0      0.0
2       9.0  1.0  0.0      0.0
3       7.0  0.0  0.0      0.0
4      10.0  1.0  0.0      0.0
...     ...  ...  ...      ...
53794   8.0  1.0  0.0      0.0
53795   7.0  1.0  0.0      0.0
53796   6.0  0.0  1.0      0.0
53797   7.0  0.0  1.0      0.0
53798  10.0  0.0  0.0      0.0

[53799 rows x 4 columns]

In [123]:
data3 = data1.append(data2)

In [124]:
data3

       meas  Op1  Op2  Product
0       4.0  0.0  1.0      0.0
1       2.0  0.0  1.0      0.0
2       5.0  0.0  1.0      0.0
3       2.0  0.0  0.0      0.0
4       2.0  1.0  0.0      0.0
...     ...  ...  ...      ...
53794   8.0  1.0  0.0      0.0
53795   7.0  1.0  0.0      0.0
53796   6.0  0.0  1.0      0.0
53797   7.0  0.0  1.0      0.0
53798  10.0  0.0  0.0      0.0

[107598 rows x 4 columns]

In [125]:
data3.sum()

meas       591805.0
Op1         44723.0
Op2         44649.0
Product       371.0
dtype: float64

In [126]:
# Coarse-grained deviation from orthogonality
224.0/109998

0.002036400661830215

## Fine-Grained Orthogonality

In [127]:
# |P(11|pia,pib) -P(11|pib,pia)| <= max(P(11|pia,pib),P(11|pia,pib))
# Finding the worst case deviation from orthogonality, thus, corresponds to finding the max over all
# probabilities.
Or1 = data1.loc[data1["meas"]==1]
Or2 = data1.loc[data1["meas"]==2]
Or3 = data1.loc[data1["meas"]==3]
Or4 = data1.loc[data1["meas"]==4]
Or5 = data1.loc[data1["meas"]==5]

In [128]:
Or6 = data2.loc[data2["meas"]==6]
Or7 = data2.loc[data2["meas"]==7]
Or8 = data2.loc[data2["meas"]==8]
Or9 = data2.loc[data2["meas"]==9]
Or10 = data2.loc[data2["meas"]==10]
Or10.head()

    meas  Op1  Op2  Product
4   10.0  1.0  0.0      0.0
12  10.0  1.0  0.0      0.0
16  10.0  0.0  1.0      0.0
17  10.0  1.0  0.0      0.0
18  10.0  1.0  0.0      0.0

In [129]:
Or4.shape

(10718, 4)

In [130]:
List1= []
List1.append(Or1.sum()["Product"]/Or1.shape[0])
List1.append(Or2.sum()["Product"]/Or2.shape[0])
List1.append(Or3.sum()["Product"]/Or3.shape[0])
List1.append(Or4.sum()["Product"]/Or4.shape[0])
List1.append(Or5.sum()["Product"]/Or5.shape[0])
List1.append(Or6.sum()["Product"]/Or6.shape[0])
List1.append(Or7.sum()["Product"]/Or7.shape[0])
List1.append(Or8.sum()["Product"]/Or8.shape[0])
List1.append(Or9.sum()["Product"]/Or9.shape[0])
List1.append(Or10.sum()["Product"]/Or10.shape[0])
List1

[0.002297160709363227,
 0.0024237904353500515,
 0.008874357776739842,
 0.0006531069229333831,
 0.005015790451421141,
 0.005679702048417132,
 0.004663309084126096,
 0.0029825706030384936,
 0.00046490004649000463,
 0.0014742467520501245]

In [131]:
max(List1)

0.008874357776739842

# Violations

In [132]:
m1list = Or1["Op1"].tolist()
m1list = m1list + Or6["Op1"].tolist()
m2list = Or2["Op1"].tolist()
m2list = m2list + Or7["Op1"].tolist()
m3list = Or3["Op1"].tolist()
m3list = m3list + Or8["Op1"].tolist()
m4list = Or4["Op1"].tolist()
m4list = m4list + Or9["Op1"].tolist()
m5list = Or5["Op1"].tolist()
m5list = m5list + Or10["Op1"].tolist()
mean_list = [np.mean(m1list),np.mean(m2list),np.mean(m3list),np.mean(m4list),np.mean(m5list)]
sum(mean_list)

2.0773748438686797

In [133]:
np.sqrt(5)

2.23606797749979

In [134]:
slist = [np.std(m1list)/np.sqrt(len(m1list)),np.std(m2list)/np.sqrt(len(m2list)),np.std(m3list)/np.sqrt(len(m3list)),np.std(m4list)/np.sqrt(len(m4list)),np.std(m5list)/np.sqrt(len(m5list))]
val = np.sqrt(slist[0]*slist[0]+slist[1]*slist[1]+slist[2]*slist[2]+slist[3]*slist[3]+slist[4]*slist[4] )
val

0.007058984671034844

In [135]:
# https://en.wikipedia.org/wiki/Standard_error
#https://en.wikipedia.org/wiki/1.96
sum(mean_list) - 1.96*val

2.0635392339134513