# Libraries

In [1]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [2]:
# Normal order file
data1 = pd.read_csv("Normal order 48 degree.CSV")

In [3]:
# Reverse order file
data2 = pd.read_csv("Reverse order 48 degree.CSV")

In [4]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]

In [5]:
data1.head()

   meas  Op1  Op2
0     1   17    0
1     1   15    0
2     1    0   44
3     3    0   45
4     1   13    0

In [6]:
data2.head()

   meas  Op1  Op2
0     9    0    0
1     8   12    0
2     8    0   43
3     7   18    1
4     7    0    0

## Relabelling

In [7]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data1.loc[data1["Op1"] <2.5,"Op1"] = 0 
data1.loc[data1["Op1"] >=2.5,"Op1"] =1
data2.loc[data2["Op1"] <2.5,"Op1"] = 0 
data2.loc[data2["Op1"] >=2.5,"Op1"] =1

In [8]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data1.loc[data1["Op2"] <8.5,"Op2"] = 0 
data1.loc[data1["Op2"] >=8.5,"Op2"] =1
data2.loc[data2["Op2"] <8.5,"Op2"] = 0 
data2.loc[data2["Op2"] >=8.5,"Op2"] =1

In [9]:
data1.head()

   meas  Op1  Op2
0     1    1    0
1     1    1    0
2     1    0    1
3     3    0    1
4     1    1    0

In [10]:
data2.head()

   meas  Op1  Op2
0     9    0    0
1     8    1    0
2     8    0    1
3     7    1    0
4     7    0    0

In [11]:
data1["Product"] = data1["Op1"]*data1["Op2"]
data2["Product"] = data2["Op1"]*data2["Op2"]

In [12]:
data1

       meas  Op1  Op2  Product
0         1    1    0        0
1         1    1    0        0
2         1    0    1        0
3         3    0    1        0
4         1    1    0        0
...     ...  ...  ...      ...
83268     4    1    0        0
83269     2    1    0        0
83270     3    0    1        0
83271     3    0    1        0
83272     2    1    0        0

[83273 rows x 4 columns]

In [13]:
data2

       meas  Op1  Op2  Product
0         9    0    0        0
1         8    1    0        0
2         8    0    1        0
3         7    1    0        0
4         7    0    0        0
...     ...  ...  ...      ...
52760     9    0    1        0
52761    10    1    0        0
52762     9    0    1        0
52763     9    1    0        0
52764     6    0    1        0

[52765 rows x 4 columns]

In [14]:
data3 = data1.append(data2)

In [15]:
data3

       meas  Op1  Op2  Product
0         1    1    0        0
1         1    1    0        0
2         1    0    1        0
3         3    0    1        0
4         1    1    0        0
...     ...  ...  ...      ...
52760     9    0    1        0
52761    10    1    0        0
52762     9    0    1        0
52763     9    1    0        0
52764     6    0    1        0

[136038 rows x 4 columns]

In [16]:
data3.sum()

meas       671385
Op1         61258
Op2         61146
Product       848
dtype: int64

In [18]:
# Coarse-grained deviation from orthogonality
848/136038.0

0.006233552389773446

## Fine-Grained Orthogonality

In [19]:
# |P(11|pia,pib) -P(11|pib,pia)| <= max(P(11|pia,pib),P(11|pia,pib))
# Finding the worst case deviation from orthogonality, thus, corresponds to finding the max over all
# probabilities.
Or1 = data1.loc[data1["meas"]==1]
Or2 = data1.loc[data1["meas"]==2]
Or3 = data1.loc[data1["meas"]==3]
Or4 = data1.loc[data1["meas"]==4]
Or5 = data1.loc[data1["meas"]==5]

In [20]:
Or6 = data2.loc[data2["meas"]==6]
Or7 = data2.loc[data2["meas"]==7]
Or8 = data2.loc[data2["meas"]==8]
Or9 = data2.loc[data2["meas"]==9]
Or10 = data2.loc[data2["meas"]==10]
Or10.head()

    meas  Op1  Op2  Product
10    10    1    0        0
11    10    0    0        0
12    10    1    0        0
16    10    0    1        0
22    10    0    1        0

In [21]:
Or4.shape

(16668, 4)

In [22]:
List1= []
List1.append(Or1.sum()["Product"]/Or1.shape[0])
List1.append(Or2.sum()["Product"]/Or2.shape[0])
List1.append(Or3.sum()["Product"]/Or3.shape[0])
List1.append(Or4.sum()["Product"]/Or4.shape[0])
List1.append(Or5.sum()["Product"]/Or5.shape[0])
List1.append(Or6.sum()["Product"]/Or6.shape[0])
List1.append(Or7.sum()["Product"]/Or7.shape[0])
List1.append(Or8.sum()["Product"]/Or8.shape[0])
List1.append(Or9.sum()["Product"]/Or9.shape[0])
List1.append(Or10.sum()["Product"]/Or10.shape[0])
List1

[0.005516668643967256,
 0.007807338898564651,
 0.004268879268879269,
 0.004019678425725942,
 0.0033406219630709427,
 0.005245588936576061,
 0.007589412769186984,
 0.011034612845421107,
 0.007966616084977238,
 0.00906344410876133]

In [23]:
max(List1)

0.011034612845421107

# Repeatability

##  Data Files

In [24]:
# Sharpness measurement i
SM1 = pd.read_csv("SharpnessM1.csv")
SM2 = pd.read_csv("SharpnessM2.csv")
SM3 = pd.read_csv("SharpnessM3.csv")
SM4 = pd.read_csv("SharpnessM4.csv")
SM5 = pd.read_csv("SharpnessM5.csv")

In [25]:
SM1.columns = ["Op1", "Op2"]
SM2.columns = ["Op1", "Op2"]
SM3.columns = ["Op1", "Op2"]
SM4.columns = ["Op1", "Op2"]
SM5.columns = ["Op1", "Op2"]

## Calculating repeatability

### M1

In [26]:
SM1.loc[SM1["Op1"] <2.5,"Op1"] = 0 
SM1.loc[SM1["Op2"] <8.5,"Op2"] = 0 
SM1.loc[SM1["Op1"] >=2.5,"Op1"] = 1 
SM1.loc[SM1["Op2"] >=8.5,"Op2"] = 1

In [27]:
SM1["XOR"] = (SM1["Op1"]+SM1["Op2"])%2

In [28]:
SM1.shape[0]

14999

In [29]:
SM1.sum()["XOR"]

96.0

In [30]:
1-(96.0/14999)

0.993599573304887

In [31]:
96.0/14999

0.006400426695113008

### M2

In [32]:
SM2.loc[SM2["Op1"] <2.5,"Op1"] = 0 
SM2.loc[SM2["Op2"] <8.5,"Op2"] = 0 
SM2.loc[SM2["Op1"] >=2.5,"Op1"] = 1 
SM2.loc[SM2["Op2"] >=8.5,"Op2"] = 1 
SM2["XOR"] = (SM2["Op1"]+SM2["Op2"])%2
Tot2 = SM2.shape[0]
1-(SM2.sum()["XOR"]/Tot2)

0.9913327555170345

In [33]:
(SM2.sum()["XOR"]/Tot2)

0.008667244482965531

### M3

In [34]:
SM3.loc[SM3["Op1"] <2.5,"Op1"] = 0 
SM3.loc[SM3["Op2"] <8.5,"Op2"] = 0 
SM3.loc[SM3["Op1"] >=2.5,"Op1"] = 1 
SM3.loc[SM3["Op2"] >=8.5,"Op2"] = 1 
SM3["XOR"] = (SM3["Op1"]+SM3["Op2"])%2
Tot3 = SM3.shape[0]
1-(SM3.sum()["XOR"]/Tot3)

0.9899326621774786

In [35]:
(SM3.sum()["XOR"]/Tot3)

0.010067337822521501

### M4

In [36]:
SM4.loc[SM4["Op1"] <2.5,"Op1"] = 0 
SM4.loc[SM4["Op2"] <8.5,"Op2"] = 0 
SM4.loc[SM4["Op1"] >=2.5,"Op1"] = 1 
SM4.loc[SM4["Op2"] >=8.5,"Op2"] = 1 
SM4["XOR"] = (SM4["Op1"]+SM4["Op2"])%2
Tot4 = SM4.shape[0]
1-(SM4.sum()["XOR"]/Tot4)

0.9934662310820721

In [37]:
(SM4.sum()["XOR"]/Tot4)

0.006533768917927862

### M5

In [38]:
SM5.loc[SM5["Op1"] <2.5,"Op1"] = 0 
SM5.loc[SM5["Op2"] <8.5,"Op2"] = 0 
SM5.loc[SM5["Op1"] >=2.5,"Op1"] = 1 
SM5.loc[SM5["Op2"] >=8.5,"Op2"] = 1 
SM5["XOR"] = (SM5["Op1"]+SM5["Op2"])%2
Tot5 = SM5.shape[0]
1-(SM5.sum()["XOR"]/Tot5)

0.994066271084739

In [39]:
(SM5.sum()["XOR"]/Tot5)

0.005933728915261017

# Worst case error

In [40]:
delta = 0.010 # worst case deviation from repeatability
epsilon1 = max(List1)
epsilon = 0.011 #  worst case deviation from orthogonality
epsilon1

0.011034612845421107