# Libraries

In [1]:
# Import libraries
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(precision=3, suppress=True)
import matplotlib.pyplot as plt
import pandas as pd
import math

# Orthogonality

## Data Files

In [2]:
# Normal order file
data1 = pd.read_csv("Q150NormalOrder.txt")

In [3]:
# Reverse order file
data2 = pd.read_csv("Q150ReverseOrder.txt")

In [4]:
# The first column record the rundom number, with "1","2","3","4","5" correspond to 
# the Normal measurement Order: "M1->M2", "M2-> M3", "M3-> M4", "M4-> M5", "M5-> M1",respectively;  
# and "6","7","8","9","10" 
# correspond to Reverse Order: "M1->M5", "M2->M1", "M3->M2", "M4->M3",  "M5->M4", respectively.

data1.columns = ["meas", "Op1", "Op2"]
data2.columns = ["meas", "Op1", "Op2"]

In [5]:
data1.head()

   meas   Op1   Op2
0   1.0   8.0   2.0
1   4.0   0.0  36.0
2   4.0   0.0  47.0
3   2.0   0.0  43.0
4   5.0  12.0   0.0

In [6]:
data2.head()

   meas   Op1   Op2
0  10.0   1.0  53.0
1  10.0  13.0   2.0
2   7.0  11.0   2.0
3   6.0   0.0  50.0
4   9.0   0.0   0.0

## Relabelling

In [7]:
# The second column record the photon counts of the first measurement, 
# which correspond to "Dark state" if the value <2.5; and "Bright state" the other case.

data1.loc[data1["Op1"] <2.5,"Op1"] = 0 
data1.loc[data1["Op1"] >=2.5,"Op1"] =1
data2.loc[data2["Op1"] <2.5,"Op1"] = 0 
data2.loc[data2["Op1"] >=2.5,"Op1"] =1

In [8]:
# The third column record the photon counts of the second measurement, 
# which correspond to "Dark state" if the value <8.5; and "Bright state" the other case.

data1.loc[data1["Op2"] <8.5,"Op2"] = 0 
data1.loc[data1["Op2"] >=8.5,"Op2"] =1
data2.loc[data2["Op2"] <8.5,"Op2"] = 0 
data2.loc[data2["Op2"] >=8.5,"Op2"] =1

In [9]:
data1.head()

   meas  Op1  Op2
0   1.0  1.0  0.0
1   4.0  0.0  1.0
2   4.0  0.0  1.0
3   2.0  0.0  1.0
4   5.0  1.0  0.0

In [10]:
data2.head()

   meas  Op1  Op2
0  10.0  0.0  1.0
1  10.0  1.0  0.0
2   7.0  1.0  0.0
3   6.0  0.0  1.0
4   9.0  0.0  0.0

In [11]:
data1["Product"] = data1["Op1"]*data1["Op2"]
data2["Product"] = data2["Op1"]*data2["Op2"]

In [12]:
data1

       meas  Op1  Op2  Product
0       1.0  1.0  0.0      0.0
1       4.0  0.0  1.0      0.0
2       4.0  0.0  1.0      0.0
3       2.0  0.0  1.0      0.0
4       5.0  1.0  0.0      0.0
...     ...  ...  ...      ...
54994   4.0  1.0  0.0      0.0
54995   4.0  0.0  1.0      0.0
54996   2.0  0.0  1.0      0.0
54997   4.0  0.0  1.0      0.0
54998   3.0  1.0  0.0      0.0

[54999 rows x 4 columns]

In [13]:
data2

       meas  Op1  Op2  Product
0      10.0  0.0  1.0      0.0
1      10.0  1.0  0.0      0.0
2       7.0  1.0  0.0      0.0
3       6.0  0.0  1.0      0.0
4       9.0  0.0  0.0      0.0
...     ...  ...  ...      ...
54994  10.0  1.0  0.0      0.0
54995   6.0  0.0  1.0      0.0
54996   9.0  0.0  0.0      0.0
54997   8.0  1.0  0.0      0.0
54998   7.0  0.0  1.0      0.0

[54999 rows x 4 columns]

In [14]:
data3 = data1.append(data2)

In [15]:
data3

       meas  Op1  Op2  Product
0       1.0  1.0  0.0      0.0
1       4.0  0.0  1.0      0.0
2       4.0  0.0  1.0      0.0
3       2.0  0.0  1.0      0.0
4       5.0  1.0  0.0      0.0
...     ...  ...  ...      ...
54994  10.0  1.0  0.0      0.0
54995   6.0  0.0  1.0      0.0
54996   9.0  0.0  0.0      0.0
54997   8.0  1.0  0.0      0.0
54998   7.0  0.0  1.0      0.0

[109998 rows x 4 columns]

In [16]:
data3.sum()

meas       604599.0
Op1         45282.0
Op2         45705.0
Product       224.0
dtype: float64

In [17]:
# Coarse-grained deviation from orthogonality
224.0/109998

0.002036400661830215

## Fine-Grained Orthogonality

In [18]:
# |P(11|pia,pib) -P(11|pib,pia)| <= max(P(11|pia,pib),P(11|pia,pib))
# Finding the worst case deviation from orthogonality, thus, corresponds to finding the max over all
# probabilities.
Or1 = data1.loc[data1["meas"]==1]
Or2 = data1.loc[data1["meas"]==2]
Or3 = data1.loc[data1["meas"]==3]
Or4 = data1.loc[data1["meas"]==4]
Or5 = data1.loc[data1["meas"]==5]

In [19]:
Or6 = data2.loc[data2["meas"]==6]
Or7 = data2.loc[data2["meas"]==7]
Or8 = data2.loc[data2["meas"]==8]
Or9 = data2.loc[data2["meas"]==9]
Or10 = data2.loc[data2["meas"]==10]
Or10.head()

    meas  Op1  Op2  Product
0   10.0  0.0  1.0      0.0
1   10.0  1.0  0.0      0.0
13  10.0  0.0  0.0      0.0
21  10.0  0.0  0.0      0.0
34  10.0  1.0  0.0      0.0

In [20]:
Or4.shape

(11073, 4)

In [21]:
List1= []
List1.append(Or1.sum()["Product"]/Or1.shape[0])
List1.append(Or2.sum()["Product"]/Or2.shape[0])
List1.append(Or3.sum()["Product"]/Or3.shape[0])
List1.append(Or4.sum()["Product"]/Or4.shape[0])
List1.append(Or5.sum()["Product"]/Or5.shape[0])
List1.append(Or6.sum()["Product"]/Or6.shape[0])
List1.append(Or7.sum()["Product"]/Or7.shape[0])
List1.append(Or8.sum()["Product"]/Or8.shape[0])
List1.append(Or9.sum()["Product"]/Or9.shape[0])
List1.append(Or10.sum()["Product"]/Or10.shape[0])
List1

[0.0020651881116997397,
 0.002061855670103093,
 0.003062076644706319,
 0.000812787862367922,
 0.0024868748273003593,
 0.001456796867886734,
 0.0022034520749173708,
 0.0014554716637860457,
 0.0007173601147776184,
 0.0040987339466253755]

In [22]:
max(List1)

0.0040987339466253755

# Repeatability

##  Data Files

In [23]:
# Sharpness measurement i
SM1 = pd.read_csv("SharpnessM1.csv")
SM2 = pd.read_csv("SharpnessM2.csv")
SM3 = pd.read_csv("SharpnessM3.csv")
SM4 = pd.read_csv("SharpnessM4.csv")
SM5 = pd.read_csv("SharpnessM5.csv")

In [24]:
SM1.columns = ["Op1", "Op2"]
SM2.columns = ["Op1", "Op2"]
SM3.columns = ["Op1", "Op2"]
SM4.columns = ["Op1", "Op2"]
SM5.columns = ["Op1", "Op2"]

## Calculating repeatability

### M1

In [25]:
SM1.loc[SM1["Op1"] <2.5,"Op1"] = 0 
SM1.loc[SM1["Op2"] <8.5,"Op2"] = 0 
SM1.loc[SM1["Op1"] >=2.5,"Op1"] = 1 
SM1.loc[SM1["Op2"] >=8.5,"Op2"] = 1

In [26]:
SM1["XOR"] = (SM1["Op1"]+SM1["Op2"])%2

In [27]:
SM1.shape[0]

14999

In [28]:
SM1.sum()["XOR"]

96.0

In [29]:
1-(96.0/14999)

0.993599573304887

In [30]:
96.0/14999

0.006400426695113008

### M2

In [31]:
SM2.loc[SM2["Op1"] <2.5,"Op1"] = 0 
SM2.loc[SM2["Op2"] <8.5,"Op2"] = 0 
SM2.loc[SM2["Op1"] >=2.5,"Op1"] = 1 
SM2.loc[SM2["Op2"] >=8.5,"Op2"] = 1 
SM2["XOR"] = (SM2["Op1"]+SM2["Op2"])%2
Tot2 = SM2.shape[0]
1-(SM2.sum()["XOR"]/Tot2)

0.9913327555170345

In [32]:
(SM2.sum()["XOR"]/Tot2)

0.008667244482965531

### M3

In [33]:
SM3.loc[SM3["Op1"] <2.5,"Op1"] = 0 
SM3.loc[SM3["Op2"] <8.5,"Op2"] = 0 
SM3.loc[SM3["Op1"] >=2.5,"Op1"] = 1 
SM3.loc[SM3["Op2"] >=8.5,"Op2"] = 1 
SM3["XOR"] = (SM3["Op1"]+SM3["Op2"])%2
Tot3 = SM3.shape[0]
1-(SM3.sum()["XOR"]/Tot3)

0.9899326621774786

In [34]:
(SM3.sum()["XOR"]/Tot3)

0.010067337822521501

### M4

In [35]:
SM4.loc[SM4["Op1"] <2.5,"Op1"] = 0 
SM4.loc[SM4["Op2"] <8.5,"Op2"] = 0 
SM4.loc[SM4["Op1"] >=2.5,"Op1"] = 1 
SM4.loc[SM4["Op2"] >=8.5,"Op2"] = 1 
SM4["XOR"] = (SM4["Op1"]+SM4["Op2"])%2
Tot4 = SM4.shape[0]
1-(SM4.sum()["XOR"]/Tot4)

0.9934662310820721

In [36]:
(SM4.sum()["XOR"]/Tot4)

0.006533768917927862

### M5

In [37]:
SM5.loc[SM5["Op1"] <2.5,"Op1"] = 0 
SM5.loc[SM5["Op2"] <8.5,"Op2"] = 0 
SM5.loc[SM5["Op1"] >=2.5,"Op1"] = 1 
SM5.loc[SM5["Op2"] >=8.5,"Op2"] = 1 
SM5["XOR"] = (SM5["Op1"]+SM5["Op2"])%2
Tot5 = SM5.shape[0]
1-(SM5.sum()["XOR"]/Tot5)

0.994066271084739

In [38]:
(SM5.sum()["XOR"]/Tot5)

0.005933728915261017

# Worst case error

In [39]:
delta = 0.010 # worst case deviation from repeatability
epsilon1 = max(List1)
epsilon = 0.011 #  worst case deviation from orthogonality
epsilon1

0.0040987339466253755

# Experimental Datapoints

In [40]:
def ComptoExc(val):
    return (5-val)/4

In [41]:
data_viol = [(-3.886-3.854)/2,-3.639,-3.407, -3.226,-3.229]
data_x = []
for k in data_viol:
    data_x.append(ComptoExc(k))
data_x

[2.2175000000000002, 2.15975, 2.10175, 2.0564999999999998, 2.05725]

In [42]:
meas_fid_48 = 0.994 + 0.991 + 0.996 + 0.995 + 0.990
meas_fid_48

4.966

In [43]:
state_fid = [0.999,0.935,0.846]

In [44]:
Total_fid = []
for k in state_fid:
    Total_fid.append(k+meas_fid_48)
Total_fid

[5.965, 5.901, 5.812]

### New Datapoints

#### 150

In [45]:
tot_fid_150 = 4.8205954629400445
tot_fid_150 = - 6 + tot_fid_150 + (0.9949 + 0.9949 + 0.9941 + 0.9955 + 0.9929 + 0.9946) # Tri ineq infidelity
Total_fid.append(tot_fid_150)
# Total_fid.append(tot_fid_150)
tot_fid_150

4.787495462940044

#### 22

In [46]:
tot_fid_22 = 4.667530121422457
tot_fid_22 = -6 + tot_fid_22 + (0.9970 + 0.9977 + 0.9967 + 1 + 0.9969 + 0.9944)
Total_fid.append(tot_fid_22)
# Total_fid.append(tot_fid_22)
tot_fid_22

4.650230121422457

# Final Plot

In [ ]:
Fidata = pd.read_csv("Robustness_1.csv")
Fidata["KCBS Value"] = Fidata["KCBS Value"]*5 + 2.0
fig = plt.figure()
#plt.plot(Fidata["KCBS Value"]+err,Fidata["Total Fidelity"]-fiderr,label='Noisy curve')
# plt.plot(Fidata["KCBS Value"],Fidata["Total Fidelity"]-fiderr,label='Noisy curve')
plt.scatter(Fidata["KCBS Value"],Fidata["Total Fidelity"])
plt.plot(Fidata["KCBS Value"],Fidata["Total Fidelity"],label='Robustness curve')
plt.scatter(data_x,Total_fid,color = 'red',label='Experimental data')
# plt.axvline((5+3.886)/4,color = 'green',label='Experimentally observed best violation')
plt.xlim(2,np.sqrt(5))
plt.ylim(0,6.1)
# plt.grid(True)
# plt.grid(False)
# Show the major grid lines with dark grey lines
plt.grid(b=True, which='major', color='#666666', linestyle='-')

# Show the minor grid lines with very faint and almost transparent grey lines
plt.minorticks_on()
plt.grid(b=True, which='minor', color='#999999', linestyle='-', alpha=0.4)
plt.xlabel('KCBS Value')
plt.ylabel('Total Fidelity')
plt.legend(loc='upper center', bbox_to_anchor=(0.6, 1.2),shadow=False, ncol=1,frameon=False)
plt.savefig('Robust.pdf', bbox_inches='tight')

In [1]:
(5+3.886)/4

2.2215

In [2]:
0.770+0.783+0.761+0.786+0.765

3.865

# Standard deviation calculations

In [10]:
def KCBS_vals(mean,std):
    mean1 = (5-mean)/4
    std1 = std/4
    return [mean1,std1]

In [11]:
def KCBS_avg(mean1,mean2,std1,std2):
    mean = 0.5*(mean1+mean2)
    std = np.sqrt(std1*std1 + std2*std2)
    return [mean,std]

## 22.041

In [12]:
KCBS_avg(-3.229,-3.246,0.0152,0.0152)

[-3.2375, 0.021496046148071046]

In [13]:
KCBS_vals(-3.237,0.0215)

[2.05925, 0.005375]

## 150.612

In [14]:
KCBS_avg(-3.236,-3.265,0.016,0.0159)

[-3.2505, 0.022556817151362468]

In [15]:
KCBS_vals(-3.250, 0.0225)

[2.0625, 0.005625]

## p =0

In [16]:
KCBS_avg(-3.886,-3.854,0.014,0.014)

[-3.87, 0.019798989873223333]

In [17]:
KCBS_vals(-3.87,0.198)

[2.2175000000000002, 0.0495]

## p =0.1

In [18]:
KCBS_vals(-3.639,0.015)

[2.15975, 0.00375]

## p = 0.2

In [19]:
KCBS_vals(-3.407,0.0166)

[2.10175, 0.00415]

# Violations (from $A_i$)

In [2]:
def Adata(termlist,stdlist):
    mean = (1.0/len(termlist))*sum(termlist)
    val = 0
    for k in stdlist:
        val = val + k*k
    std = np.sqrt(val)
    return [mean,std]

## 48, p =0

### A1

In [4]:
A1N = [0.105,0.0095]
A1R = [0.101,0.0100]

In [5]:
A1m= [A1N[0],A1R[0]]
A1s= [A1N[1],A1R[1]]

In [6]:
Adata(A1m,A1s)

[0.10300000000000001, 0.01379311422413372]

In [8]:
p1m = Adata(A1m,A1s)[0]
p1s = Adata(A1m,A1s)[1]

In [9]:
p1m

0.10300000000000001

In [10]:
p1s

0.01379311422413372

In [14]:
p1 = (1-p1m)/2
p1

0.4485

In [16]:
s1 = p1s/2
s1

0.00689655711206686

### A2

In [19]:
AN = [0.101,0.0101]
AR = [0.091,0.0100]
Am= [AN[0],AR[0]]
As= [AN[1],AR[1]]
Adata(Am,As)
pm = Adata(Am,As)[0]
ps = Adata(Am,As)[1]
p = (1-pm)/2
s = ps/2

In [20]:
p

0.452

In [21]:
s

0.007106511098985212